/* Font variables declarations */
@font-face {
  font-family: "roboto-condensed";
  src: url("../fonts/roboto-condensed-v18-latin-regular.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "lora";
  src: url("../fonts/lora-v14-latin-regular.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "helveticaneue";
  src: url("../fonts/helveticaneuev2.woff");
  font-style: normal;
  font-weight: 500;
}

/* General Variables */

:root {
  --roboto-condensed: "roboto-condensed", sans-serif;
  --lora: "lora", sans-serif;
  --arial-helvetica: Arial, Helvetica, sans-serif;
  --helvetica-neue: "helveticaneue", sans-serif;
  --color-light-orange: #f72210;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(3, 3, 3, 0.4);
  --color-gray-2: rgba(3, 3, 3, 0.5);  
  --color-gray-3: #555;
  --color-gray-4: rgba(39, 39, 39, 0.5);
  --color-gray-dark: #272727;
  --color-gray-light: #e6e6e6;
  --color-blue: #3581f4;
}

body {
  background-color: #f4f5f6;
}

.font1 {
  font-size: 21px;
  background-color: var(--color-light-orange);
}

.font2 {
  font-size: 18px;
  font-family: var(--roboto-condensed);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-orange);
  font-weight: bold;
}

.font3 {
  font-size: 16px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-light-orange);
  color: var(--color-white);
}

.font4 {
  font-size: 21px;
  font-family: var(--roboto-condensed);
  color: var(--color-black);
  font-weight: bold;
}

.font5 {
  font-size: 18px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-light-orange);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.font6 {
  font-size: 16px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-gray);
  text-transform: uppercase;
  font-weight: bold;
}

.font7 {
  font-size: 17px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-light-orange);
  text-transform: uppercase;
  font-weight: bold;
}

.font7-black {
  font-size: 17px;
  font-family: var(--roboto-condensed);
  color: var(--color-black);
  text-transform: capitalize;
  font-weight: bold;  
}

.font8 {
  font-size: 24px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
}

.font9 {
  font-size: 15px;
  font-family: var(--arial-helvetica);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 20px;
}

.font10 {
  font-size: 16px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-gray-2);
  text-transform: uppercase;
  font-weight: bold;
}

.font11 {
  font-size: 17px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
}

.font12 {
  font-size: 14px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-gray-3);
  text-transform: uppercase;
  font-weight: bold;
}

.font13 {
  font-size: 13px;
  font-family: var(--roboto-condensed);
  background-color: var(--color-white);
  color: var(--color-gray-3);
  text-transform: uppercase;
  font-weight: bold;
}

.font-lora-20 {
  font-size: 20px;
  font-family: var(--lora);
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  text-transform: inherit;
  line-height: 22px;
}

.font-helvetica-neue-15 {
  font-size: 15px;
  font-family: var(--helvetica-neue), Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: var(--color-gray-4);
  line-height: 20px;
}

.font-helvetica-neue-13 {
  font-size: 13px;
  font-family: var(--helvetica-neue), Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--color-gray-dark);
  line-height: 20px;
}

.font-roboto-17-bold {
  font-size: 17px;
  font-family: var(--roboto-condensed);
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: bold;
}

.bg-header {
  background-color: var(--color-light-orange);
  color: var(--color-white);
  height: 95px;
  padding: 20px 10px 15px;
}

.bg-header p {
  margin-bottom: 0;
}

.logo {
  text-align: center;
}

.logo svg {
  color: var(--color-white);
  fill: var(--color-white);
  width: 396px;
  height: 60px;
}

.bg-suscribe {
  text-align: right;
  padding-right: 0;
}

.bg-suscribe a {
  padding: 3px 10px;
}

.bg-suscribe svg {
  width: 10px;
  fill: var(--color-light-orange);
  color: var(--color-light-orange);
  padding: 0 0 5px 0;
  margin: 0 0 0 14px;
}

.lanscape-menu {
  line-height: 24px;
  margin-right: 0;
  padding-top: 15px;
  width: 86%;
  padding-left: 0;
}

.lanscape-menu li {
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-right: 1px solid var(--color-gray);
  width: 7rem;
}

.opinion-container li {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lanscape-menu a {
  color: var(--color-black);
  white-space: nowrap;
}

.bg-header a {
  text-decoration: none;
}

.links1 {
  color: var(--color-black);
}

.links2 {
  text-decoration: none;
  color: var(--color-black);
}

.links3 {
  text-decoration: none;
  color: var(--color-black);
}

.links1:hover {
  color: var(--color-black);
  text-decoration: underline var(--color-light-orange);
}

.links2:hover {
  text-decoration: none;
  color: var(--color-light-orange);
}

.links3:hover {
  color: var(--color-black);
  text-decoration: none;
}

.lanscape-menu a:hover {
  color: var(--color-light-orange);
  text-decoration: none;
}

.bg-header a:hover {
  text-decoration: none;
  color: var(--color-light-orange);
}

.lanscape-menu li:nth-child(1) {
  width: 5rem;
}

.lanscape-menu li:nth-child(2) {
  width: 5rem;
}

.lanscape-menu li:nth-child(4) {
  width: 11rem;
}

.lanscape-menu li:nth-child(5) {
  width: 6.5rem;
}

.lanscape-menu li:nth-child(6) {
  width: 9rem;
}

.lanscape-menu li:nth-child(7) {
  width: 6rem;
}

.lanscape-menu li:nth-child(8) {
  width: 6rem;
}

.lanscape-menu li:nth-child(9) {
  width: 8rem;
}

.lanscape-menu li:nth-child(11) {
  border-right: 0;
}

.lanscape-menu li:first-child a {
  padding-left: 0;
}

.lanscape-menu li:last-child a {
  padding-left: -15px;
  border-right: 0;
}

.opinion-container li:first-child {
  border-top: 0;
}

.link-img-opi {
  display: block;
  height: 100%;
  width: 100%;
}

.link-img-block {
  display: block;
  height: 100%;
  width: 100%;
}

.search-icon {
  background-image: url(../img/icon-search-glass.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 55px;
  min-width: 40px;
  display: block;
  background-size: 20px;
}

.split-top {
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  display: block;
  width: 66px;
  position: absolute;
  top: -1px;
  right: 0;
}

.split-bottom {
  background-color: var(--color-white);
  display: block;
}

.container-menu {
  padding-left: 0;
  padding-right: 0;
}

.search-text {
  line-height: 24px;
  color: var(--color-gray-3);
}

.label-search {
  width: 14%;
}

.img-g-featured {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 220px;
  padding-bottom: 5px;
}

.img-g-fea-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 280px;
  padding-bottom: 5px;
}

.img-path-fea-1 {
  background-image: url(../img/coronavirus-tokyo-coronavirus-covid-19-2019-ncov.jpg);
}

.img-path-top-1 {
  background-image: url(../img/china-coronavirus-covid-19-2019ncov.webp);
}

.img-path-cult-1 {
  background-image: url(../img/china-coronavirus-covid-19-2019ncov.webp);
}

.img-g-opinion {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 20%;
  height: 60px;
  padding-bottom: 5px;
}

.img-g-culture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 160px;
  padding-bottom: 5px;
}

.img-g-latest-news {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 65%;
  padding-bottom: 5px;
}

.img-g-more-stories {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 33%;
  height: 107px;
  padding-bottom: 5px;
}

.img-path-opi-1 {
  background-image: url(../img/stefan-simanowitz.png);
}

.img-path-latnews-1 {
  background-image: url(../img/amari-cooper.webp);
}

.img-path-morestor-1 {
  background-image: url(../img/amari-cooper.webp);
}

.text-opinion-item {
  width: 80%;
  padding-left: 10px;
}

.featured-stories {
  padding: 0 0 0 0;
  width: 100%;
}

.title1 {
  padding-top: 10px;
}

.label-article {
  position: relative;
}

.label-article-link {
  position: absolute;
  bottom: -220px;
  left: 0;
  line-height: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 10px 0 10px;
}

.label-article-link-big {
  position: absolute;
  bottom: -280px;
  left: 0;
  line-height: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 10px 0 10px;
}

.opinion-container {
  padding-left: 0;
}

.culture-articles-container {
  padding: 0 0 0 0;
}

.photo-custom {
  width: 50%;
}

.sponsor-article {
  border: 1px solid var(--color-gray-light);
}

@media (max-width: 991px) {
  .logo {
    padding: 0 0 0 0;
    text-align: start;
    top: -10px;
    left: 5px;
  }

  .logo svg {
    width: 132px;
    height: 20px;
  }

  .bg-header {
    height: 50px;
  }

  .bg-suscribe {
    text-align: right;
    top: -8px;
    right: 40px;
  }
}

@media (max-width: 767px) {
  .photo-custom {
    width: 100%;
  }

  .img-g-culture {
    height: 438px;
  }
}
